<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weather App</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  {{>header}}
  <form>
    <input type="text" placeholder="location">
    <button>search</button>
    <div class="center">
    <p id="message-1"></p>
    <p id="message-2"></p>
    </div>
  </form>
  <p>Created by   : {{name}}</p>
  {{>footer}}
  <script src="/js/sandbox.js"></script>
</body>
</html>